/* ************** */
/* BASIC ELEMENTS */
/* ************** */
body { background-color: #FDEECA; }
a { color: #4F3D48; }
a:hover { color: #d97877 !important; }

/* ************* */
/* NAVBAR - MENU */
/* ************* */
.navbar {
    background-color: #4F3D48;
    border-bottom: 6px solid #F09F90;
    color: white;
}

/* ************** */
/*   BREADCRUMB   */
/* ************** */
.nav-breadcrumb { height: 40px; }
.breadcrumb {
    color: #4F3D48;
    font-weight: bold;
}

/* ************* */
/*    BUTTONS    */
/* ************* */
.btn-salmon { background-color: #FFCFA6; }
.btn-lilac { background-color: #DBC0C0; }