{% extends 'base.html' %}

{% block title %}{{ book.name }}{% endblock %}

{% block content %}
    <br>
    <div class="container shadow-lg p-3 mb-5 bg-body rounded">
        <br>
        <div class="row">
            <div class="col-3 text-center">
                <div class="rounded book-cover-placeholder">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                    </svg>
                </div>

                {% if reservation_queue > 0 %}
                    <br><span class="fst-italic">Reservation queue: <span class="fw-bold">{{ reservation_queue }}</span></span>
                {% endif %}
    
                {% if user_already_reserved %}
                    <br><br>
                    <button type="button" class="btn btn-lilac disabled">You already reserved</button>
                {% else %}
                    <br><br>
                    <!-- Button trigger modal RESERVATION -->
                    <button type="button" class="btn btn-lilac" data-bs-toggle="modal" data-bs-target="#reservationModal">Make reservation</button>
                {% endif %}
            </div>

            <!-- Modal RESERVATION -->
            <div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="reservationModalLabel">Book reservation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-left">
                        <strong>Title:</strong> {{ book.name }}<br>
                        <strong>Author:</strong> {{ book.author.first_name }} {{ book.author.last_name }}<br>

                        {% if reservation_queue > 0 %}
                            <span class="fw-bold">Reservation queue:</span> {{ reservation_queue }}
                            <br><br>
                            <p>You will be notify via e-mail when the book is available for you.</p>
                        {% else %}
                            <br>
                            <p>This book can be reserved for you until <strong>{{ can_be_reserved_until|date:"D d M Y" }}</strong>.</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'book_make_reservation' book.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-salmon">Reserve book</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>

            <div class="col">
                <h2>{{ book.name }}</h2>
                <h4>by <a href="{% url 'author_detail' book.author.id %}" class="text-reset">{{ book.author.first_name }} {{ book.author.last_name }}</a></h4>
                <br>
                <h6><span class="fw-bold">Publisher:</span> {{ book.publisher.name }}</h6>
                <h6><span class="fw-bold">Publication Year:</span> {{ book.year }}</h6>
                <br>
                <h5 class="fw-bold">Description:</h5>
                <p>{{ book.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}