{% extends "base.html" %}

{% block title %}login{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Login</li>
{% endblock %}

{% block content %}
<div class="container container-registration my-5 px-5 pt-4">
    <h2 class="text-center mb-5">Log in</h2>
    <form method="post">
        {% csrf_token %}
        <div class=" d-grid gap-2">
            {{form.as_p }}
        </div>
        <div class="helptext text-end"><a href="{% url 'password_reset' %}">Forgot password?</a></div>
        <div class="mt-4 text-center"><button type="submit" class="btn btn-primary" style="width: 100%">Login</button></div>
        <div class="py-4 text-center">Don't have an account?<br><a href="{% url 'register' %}">Register here.</a></div>
    </form>
</div>
{% endblock %}


