{% extends "base.html" %}
{% block content %}

{% if validlink %}
    <div class="container container-registration my-5 px-4 pt-3">
        <h2 class="text-center mb-5">Choose your new password</h2>
        <form method="post">
            {% csrf_token %}
            <div class=" d-grid gap-1">
                {{form.as_p }}
                <button type="submit" class="btn btn-primary">Change my password</button>
            </div>
        </form>
    </div>
{% else %}
    <div class=" my-4 text-center">
        <h2>Password reset unsuccessful</h2>
        <p class="my-4">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        <a class="btn btn-salmon" href="{% url 'password_reset' %}" role="button">Reset password</a>
    </div>
    {% endif %}

{% endblock %}