{% extends "base.html" %}

{% block title %}Change your password{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Change your password</li>
{% endblock %}

{% block content %}
<style>
    ul{
        font-size: small;
    }
</style>

<div class="container container-registration my-5 px-4 pt-3">
    <h2 class="text-center mb-5">Change your password</h2>
    <form method="post">
        {% csrf_token %}
        <div class=" d-grid gap-1">
            {{form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
