{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Register</li>
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

    <h2 class="crispy-h2">Sign up</h2>
    <form method="post">
        {% csrf_token %}
        {% crispy form %}
        <div class="py-4 text-center">Already have an account?<br>
            <a class="btn btn-salmon" href="{% url 'login' %}" role="button">Log in here.</a>
        </div>
    </form>

{% endblock %}
