{% extends "base.html" %}
{% block content %}
<style>
    .container-registration {
        background-color: #FFFAF0;
        border: 3px solid #F09F90;
        width: 380px;
        height: 600px;
    }
    input[name="username"], [type="password"], [type="text"] {
        width: 100%;
    }
    .helptext, ul {
        font-size: small;
    }
</style>

<div class="container container-registration my-5 px-4 pt-3">
    <h2 class="text-center mb-3">Sign up</h2>
    <form method="post">
        {% csrf_token %}
        <div class=" d-grid gap-0">
            {{form.as_p }}
        </div>
        <div class="mt-2 text-center"><button type="submit" class="btn btn-primary" style="width: 100%">Register</button></div>
        <div class="py-4 text-center">Already have an account?<br><a href="{% url 'login' %}">Log in here.</a></div>
    </form>
</div>
{% endblock %}