{% extends 'base.html' %}

{% block title %}My Account Overview{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'my_account' %}" class="text-reset">My Account</a></li>
    <li class="breadcrumb-item active" aria-current="page">Overview</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card shadow mb-5 bg-body rounded">

            {% include 'my_account/sub_navbar.html' %}

            <div class="card-body">
                <h2 class="mb-4 text-center">My Account Overview</h2>

                <div class="row  row-cols-auto">
                    <div class="col">
                        <div class="card library-card">
                            <div class="card-body">
                              <h6 class="card-subtitle mb-2 text-white">Virtual Library Card</h6>
                              <h5 class="card-title mb-3 fw-bold">{{ library_card.full_name }}</h5>
                              <h6 class="card-subtitle fw-lighter text-white">Membership ends: <strong>{{ library_card.membership_ends }}</strong></h6>
                              <p class="card-text mt-3">
                                <input class="form-control form-control-sm text-center font-monospace" type="text" placeholder="{{ library_card.card_number }}">
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row row-cols-2">
                            <div class="col">
                                <div class="card text-center" style="width: 18rem;">
                                    <div class="card-body">
                                      <h6 class="card-title">Borrowed books</h6>
                                      <p class="card-text fs-1">{{ num_of_loans }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center" style="width: 18rem;">
                                    <div class="card-body">
                                      <h6 class="card-title">Open Reservations</h6>
                                      <p class="card-text fs-1">{{ num_of_reservations }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}