{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}My Reservations{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'my_account' %}" class="text-reset">My Account</a></li>
    <li class="breadcrumb-item active" aria-current="page">My Reservations</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card shadow mb-5 bg-body rounded">

            {% include 'my_account/sub_navbar.html' %}

            <div class="card-body" >
                <h2 class="mb-4 text-center">My Reservations</h2>

                <div class="row  row-cols-auto">

                    <div class="col-12" >
                        {% render_table table %}
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}