<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link text-reset{% if request.resolver_match.url_name == 'my_account' %} active{% endif %}" aria-current="true" href="#">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-reset" href="#">Book Loans</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-reset{% if request.resolver_match.url_name == 'account_reservations' %} active{% endif %}" href="{% url 'account_reservations' %}">Reservations</a>
      </li>
    </ul>
</div>