{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Librarian actions - Open Reservations{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Librarian Actions - Open Reservations</li>
{% endblock %}

{% block content %}
    <div class="container shadow-lg p-3 mb-5 bg-body rounded">
        <h2 class="mb-3">List of Open Reservations</h2>
        {% render_table table %}

        {% if not table.data %}
            <p class="text-center fst-italic fs-5 text-muted mt-4">There are no open reservations</p>
        {% endif %}
    </div>
{% endblock %}