{% extends 'base.html' %}

{% block title %}Library Rules{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Library Rules</li>
{% endblock %}

{% block content %}
    <div class="container shadow-lg p-3 mb-5 bg-body rounded library-rules-page">
        <h2 class="text-center mb-3">Library Rules</h2>

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="title-letter">L</span>isten to the librarian</li>
            <li class="list-group-item"><span class="title-letter">I</span>nquire (ask) if you need help</li>
            <li class="list-group-item"><span class="title-letter">B</span>e respectful of others</li>
            <li class="list-group-item"><span class="title-letter">R</span>ead and talk quietly</li>
            <li class="list-group-item"><span class="title-letter">A</span>lways walk, never run</li>
            <li class="list-group-item"><span class="title-letter">R</span>eturn books to their proper places</li>
            <li class="list-group-item"><span class="title-letter">Y</span>our manners are appreciated</li>
          </ul>
    </div>
{% endblock %}